@import './Variables.scss';
.body_about {
   background-color: $color-1;
   height: 75vh;
}

.about_title {
   text-align: center;
      padding-top: 20px;
      font-family: $font-1;
   color: $color-2;  
   
}