@import './Variables.scss';
.body_about {
   background-color: $color-1;
}

.about_title {
   text-align: center;
      padding-top: 20px;
      font-family: $font-1;
   color: $color-2;  
   
}

.author_img {
   height: 100px;
   padding: 10px;
}
.div_letter {
   display: flex;
   flex-direction: row;
   padding-right: 20px;
   font-family: $font-1;
   font-size: 15px;
}
.technologies_list {
   padding: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;


}