@import './Variables.scss';

.contact_body {
   background-color: $color-1; 
   padding-top: 10px;
}
.contact_title {
    text-align: center;
    padding-top: 20px;
    font-family: $font-1;
    color: $color-2;
    
}

.contact_rrss {
    display: flex;
    flex-direction: column;
    align-items: center;
      
}

.contact_email {
  padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 14px; 
    color:#127CD6; 
  &--link {
      text-decoration: none;
      color:$color-2; 
      font-family: $font-1;
    } 
}
.contact_email--link:hover {
    color: #127CD6;
    font-size: 15px;
}

.contact_linkedin {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 14px;
  color:#0A66C2;
  &--link {
      text-decoration: none;
      color: $color-2;
      font-family: $font-1;
    }
}
.contact_linkedin--link:hover {
  color: #0A66C2;
  font-size: 15px;
}

.contact_github {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 14px;
  color: $color-2;

  &--link {
    text-decoration: none;
    color: $color-2;
    font-family: $font-1;
  }
}
.contact_github--link:hover {
  font-size: 15px;
}

@media (min-width:321px) and (max-width: 768px) {
.contact_body {
  width: 768px;
  padding-bottom: 20px;
  height: 195vh;
}
.contact_rrss {
  padding-top: 30px;
}
}
