@import './Variables.scss';
.footer {
    background-color: #dad4c8af; 
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.contact {
color: $color-3;
font-family: $font-1;
font-size: 14px;
font-weight: bold;
}
.copy {
    color: $color-3; 
    padding-top: 10px;
    font-family: $font-1;
    font-size: 12px;
}