@import './Variables.scss';

.header {
    height: 20vh; 
   
}
.hero_image {
    background-image: url(../images/hero.png);
    height: 20vh;
    width: 320px;
    background-size: cover;
    position: absolute; 
    z-index: -1; 
}
.header_div {
    width: 320px;
    position: relative; 
    z-index: 2;
    top: 3vh; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.list {
    display: flex;
    padding-top: 5px;
}
.link {
  text-decoration: none;
  padding-right: 10px;
  font-family: $font-1;
  font-size: 15px;
}
.link:hover {
    text-decoration: underline;
}

.profession {
    margin-top: 5px;
    background-color: $color-4;
    color: $color-3; 
    height: 20px;
    border-radius: 10px;
    padding: 4px 10px;
    font-family: $font-1;
    font-size: 15px;
}

.name {
  font-family: $font-1;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 5px;
}



