@import './Variables.scss'; 
.body_porfolio {
    background-color:$color-1; 
    height: 75vh;
}

.portfolio_title {
    text-align: center;
    padding-top: 20px;
    color: $color-2;
    font-family: $font-1;
}