@import './Variables.scss'; 
.body_projects {
    background-color:$color-1;     
}

.projects_title {
    text-align: center;
    padding: 20px;

    font-family: $font-1;
    color: $color-2;
}
.projects_list {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.project_image {
    width: 150px; 
    height: 250px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding-bottom: 20px;
    
}

.project_image:hover {
    cursor: pointer; 
    -webkit-filter:none;
    filter: none;
}

@media (min-width:321px) and (max-width: 768px) {
.body_projects {
    width: 768px;
    height: 90vh;
}
}